# C
*.o
*.lo
*.la

# C++
*.o 
*.lo 
*.la 
*.so 
*.dll 
*.dylib 
*.a 
*.lib 
*.exe 
*.out 
*.app 
*.i*86 
*.x86_64 
*.gcno 
*.gcda 
*.gcov 
*.ilk 
*.pdb 
*.idb 
*.exp 
*.lib 
*.suo 
*.sdf 
*.pdb 
*.ilk 
*.idb 
*.ipch 
*.class 
*.tlog 
*.tlh 
*.tlb 
*.log 
*.dll 
*.exe 
*.pdb 
*.manifest 
*.res 
*.pch 
*.ncb 
*.opt 
*.plg 
*.bsc 
*.sbr 
*.obj 
*.suo 
*.user 
*.ncb 
*.aps 
*.pch 
*.vspscc 
*.vssscc 
*_i.c 
*_p.c 
*.ilk 
*.meta 
*.obj 
*.pch 
*.pdb 
*.pgc 
*.pgd 
*.rsp 
*.sbr 
*.tlb 
*.tli 
*.tlh 
*.tmp 
*.tmp_proj 
*.log 
*.vspscc 
*.vssscc 
.builds 
*.pidb 
*.svclog 
*.scc 

# C#
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/
*.dll
*.exe
*.pdb
*.cache
*.tlog
*.lastbuildstate
*.manifest
*.res
*.resources
*.pri
*.aps
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds 
*.pidb 
*.svclog 
*.scc 

# Lua
*.lua
*.luac

# Yacc
*.tab.c
*.tab.h

# Makefile
*.d
*.o
*.a
*.so
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.elf
*.bin
*.hex
*.srec
*.img
*.dtb
*.dtbo
*.su
*.lst
*.dep
*.dwo
*.dwp
*.sys
*.bc
*.flat
*.i
*.s
*.S
*.asm
*.out
*.x
*.z
*.gz
*.bz2
*.xz
*.lz
*.lzo
*.lz4
*.lzo
*.7z
*.ace
*.arc
*.arj
*.apk
*.bz2
*.cab
*.cpio
*.deb
*.dmg
*.egg
*.gz
*.iso
*.jar
*.lha
*.mar
*.pea
*.rar
*.rpm
*.s7z
*.shar
*.tar
*.tbz2
*.tgz
*.tlz
*.war
*.whl
*.xpi
*.zip
*.zipx
*.xpi
*.pmd
*.ppc
*.bak
*.swp
*.swo
*.class
*.elc
*.lo
*.la
*.o
*.pyc
*.pyo
*.rej
*.swp
*.swo
*.~ 
*.dir-locals.el
.dir-locals-2.el
.dir-locals.el
.projectile
.swo
.swp
*~

# Powershell
*.ps1xml
*.clixml
*.psd1
*.psm1
*.pssc
*.cdxml
*.ps1
*.ps2
*.ps2xml
*.psc1
*.psc2
*.msh
*.msh1
*.msh2
*.mshxml
*.msh1xml
*.msh2xml
*.pssc
*.psrc
*.plg
*.rsc
*.psc
*.psess
*.psm
*.snk
*.pfx
*.publishsettings
